.world {
    -fx-font: 15px Tahoma;
    -fx-fill: rgb(20, 20, 20);
    -fx-stroke: black;
}

.city {
    -fx-font: 20px Tahoma;
    -fx-padding: 10;
    -fx-background-color: LIGHTYELLOW;
}

.room {
    -fx-background-color: WHITE;
    -fx-border-width: 1;
    -fx-border-color: BLACK;
    -fx-pref-height: 120;
    -fx-font: 18px Tahoma;
}

.room Button {
    /*-fx-background-color: LIGHTGREEN;*/
}

.employee {
    -fx-font: 12px Tahoma;
}

GridPane Label {
    -fx-padding: 10;
}

VBox {
    -fx-padding: 10;
}

HBox {
    -fx-padding: 5;
}

.employment {
    -fx-font: 10px Tahoma;
}